[Unit]
Description=Team 2530 Vision coprocessor service

Wants=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/2025Vision.sh
Restart=on-failure
Restart=1
KillMode=mixed

[Install]
WantedBy=multi-user.target

